@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroylight.woff2") format("woff2"), url("../fonts/Gilroylight.woff") format("woff"), url("../fonts/Gilroylight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy-Medium';
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/gilroy-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroyextrabold.woff2") format("woff2"), url("../fonts/Gilroyextrabold.woff") format("woff"), url("../fonts/Gilroyextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy-Bold';
  src: local("Gilroy Bold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  width: 100vw; }

body {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  color: #111111;
  background-color: #F7F9FA;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover {
  text-decoration: none; }

h1 {
  font-family: 'Gilroy-Bold', sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 1;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 30px; }
  h1 span {
    color: #E87861; }

h2 {
  font-family: 'Gilroy-Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.1;
  color: #C9CFDA;
  margin-bottom: 10px; }

h3 {
  font-family: 'Gilroy-Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #28334E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  h3 span {
    font-family: 'Gilroy-ExtraBold', sans-serif;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    color: #504ACD; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Gilroy-Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  color: #FFFFFF;
  margin-bottom: 100px;
  text-align: center; }
  .logo img {
    margin-bottom: 10px; }
  .logo:hover {
    color: white; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.main-page {
  height: 830px;
  padding: 80px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: linear-gradient(311.85deg, #4F49CC 10.65%, #EC6C9A 123.06%);
  margin-bottom: 200px;
  position: relative; }
  .main-page .img-left {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0; }
  .main-page .img-right {
    position: absolute;
    top: 10%;
    right: 0;
    z-index: 0; }

.main-block {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.button-play {
  position: absolute;
  border: none;
  top: 50% !important;
  right: auto;
  left: 50% !important;
  padding: 0;
  cursor: pointer;
  outline: none !important;
  z-index: 10;
  background-color: white;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .button-play svg {
    margin-left: 5px; }

.button-play span {
  display: none; }

.button-play:after,
.button-play:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.button-play.play:before {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 25px solid #111111;
  left: calc(50% + 4px); }

.button-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #5CC99D;
  border-radius: 8px;
  font-family: 'Gilroy-Bold', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 220px;
  height: 60px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: none; }
  .button-primary:hover {
    opacity: 1;
    color: #fff;
    -webkit-box-shadow: 0 12px 26px -11px rgba(19, 21, 85, 0.5);
    box-shadow: 0 12px 26px -11px rgba(19, 21, 85, 0.5);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
  .button-primary:focus {
    background-color: #5CC99D; }
  .button-primary.disabled {
    background-color: #E3E5E6;
    color: white; }

.button-black {
  background-color: #111111; }

.video-block {
  position: relative;
  width: 90%;
  max-width: 920px;
  margin: auto;
  margin-top: 100px;
  background: #111111;
  -webkit-box-shadow: 0px 35px 48px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 35px 48px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 120px; }
  .video-block video {
    width: 100%; }

strong {
  font-family: 'Gilroy-ExtraBold', sans-serif; }

.step-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 120px 0; }
  .step-block .button-primary {
    margin-top: 35px; }
  .step-block .steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 90%;
    max-width: 1150px;
    margin: 60px 0; }
    .step-block .steps .steps-item {
      font-family: "Gilroy-Medium", sans-serif;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 31%;
      height: auto;
      background: #FFFFFF;
      -webkit-box-shadow: 0 22px 32px rgba(0, 0, 0, 0.08);
      box-shadow: 0 22px 32px rgba(0, 0, 0, 0.08);
      border-radius: 30px;
      padding: 45px 65px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .step-block .steps .steps-item .number {
        font-family: 'Gilroy-Medium', sans-serif;
        font-style: normal;
        font-size: 46px;
        line-height: 1.1;
        text-align: center;
        color: #28334E;
        margin-bottom: 25px; }
      .step-block .steps .steps-item .text {
        font-family: 'Gilroy-Medium', sans-serif;
        font-style: normal;
        font-size: 28px;
        line-height: 32px;
        text-align: center;
        color: #28334E; }
        .step-block .steps .steps-item .text a {
          font-family: 'Gilroy-Bold', sans-serif;
          text-align: center;
          color: #504ACD; }
  .step-block h3 {
    max-width: 470px; }

.top-padd {
  padding-top: 160px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.table {
  background: #FFFFFF;
  -webkit-box-shadow: 0 22px 32px rgba(0, 0, 0, 0.08);
  box-shadow: 0 22px 32px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 34px 5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
  max-width: 1150px;
  margin: auto; }
  .table .caption {
    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 1.1;
    text-align: center;
    color: #28334E; }
  .table .table-stroke {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.1;
    color: #111111;
    height: 50px;
    border-bottom: 1px solid #e2e3e5;
    white-space: nowrap; }
    .table .table-stroke.head {
      color: #B1BAC9;
      border-bottom: none;
      font-size: 14px;
      margin-bottom: 20px; }
      .table .table-stroke.head .name {
        margin-left: 35px;
        width: auto !important; }
    .table .table-stroke .td {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .table .table-stroke .td .numb {
        color: #B1BAC9;
        margin-right: 15px; }
      .table .table-stroke .td .icon {
        margin-right: 15px;
        width: 20px; }
        .table .table-stroke .td .icon img {
          width: 100%; }
      .table .table-stroke .td.roi {
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.1;
        text-align: right;
        color: #2FA84F; }
        .table .table-stroke .td.roi.minus {
          color: #EA3410; }
    .table .table-stroke .name {
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: block; }
    .table .table-stroke:nth-last-child(1) {
      border-bottom: none; }

.white-block {
  width: 100%;
  background-color: white;
  padding: 120px 0; }

.caption-block {
  font-family: 'Gilroy-Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 1.1;
  text-align: center;
  color: #28334E; }

.prizes {
  position: relative;
  width: 90%;
  max-width: 1150px;
  height: 450px;
  margin: auto;
  margin-top: 60px; }
  .prizes .prizes-item {
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 470px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #B1BAC9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .prizes .prizes-item.orange-card {
      background-image: url("../img/orange-card.jpg");
      z-index: 1; }
    .prizes .prizes-item.blue-card {
      background-image: url("../img/blue-card.jpg");
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 2; }
    .prizes .prizes-item.purple-card {
      background-image: url("../img/purple-card.jpg");
      top: auto;
      bottom: 0;
      right: 0;
      left: auto;
      z-index: 3; }
    .prizes .prizes-item .nominal {
      font-size: 46px;
      color: #FFFFFF;
      margin-top: 25px; }

.next-prizes {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #B1BAC9;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
  .next-prizes .name-prizes {
    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 35px 48px rgba(0, 0, 0, 0.2);
    background: -o-linear-gradient(232.48deg, #5FBFEB 7.65%, #3B75CF 96.36%);
    background: linear-gradient(217.52deg, #5FBFEB 7.65%, #3B75CF 96.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px; }
  .next-prizes .nominal {
    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    text-shadow: 0 35px 48px rgba(0, 0, 0, 0.2);
    background: -o-linear-gradient(232.48deg, #C57BFF 7.65%, #9206FF 96.36%);
    background: linear-gradient(217.52deg, #C57BFF 7.65%, #9206FF 96.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.add-prizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  max-width: 1150px;
  margin: 60px auto 120px auto; }
  .add-prizes .add-prizes-item {
    width: 31%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #28334E; }
    .add-prizes .add-prizes-item .img {
      height: 235px;
      margin-bottom: 20px;
      -o-object-fit: cover;
      object-fit: cover;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 30px;
      -webkit-box-shadow: 0px 35px 48px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 35px 48px rgba(0, 0, 0, 0.2);
      background-color: transparent; }
      .add-prizes .add-prizes-item .img img {
        min-height: 100%;
        min-width: 100%; }

.benefits-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 120px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 890px;
  background: -o-linear-gradient(123.08deg, #4F49CC 38.33%, #EC6C9A 115.51%);
  background: linear-gradient(326.92deg, #4F49CC 38.33%, #EC6C9A 115.51%);
  position: relative; }
  .benefits-block .caption-block {
    color: white; }
  .benefits-block .benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 90%;
    max-width: 1150px;
    margin: 70px auto; }
    .benefits-block .benefits .benefits-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-family: 'Gilroy-Bold', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 26px;
      text-align: center;
      color: #FFFFFF;
      width: 290px; }
      .benefits-block .benefits .benefits-item img {
        margin-bottom: 15px; }

.media-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 120px 0;
  padding-top: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }
  .media-block .owl-carousel {
    transform: translateY(-40%);
    transition: all 0.5s ease; }
    .media-block .owl-carousel.mobile {
      display: none; }
  .media-block .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1150px;
    margin: auto;
    margin-top: 50px; }
    .media-block .media .media-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 340px;
      margin-left: 40px;
      margin-bottom: 60px; }
      .media-block .media .media-item .media-logo {
        height: 45px;
        margin-bottom: 12px; }
        .media-block .media .media-item .media-logo img {
          height: 100%; }
      .media-block .media .media-item span {
        padding: 12px 0;
        border-bottom: 1px solid #B1BAC9; }
      .media-block .media .media-item a {
        font-family: 'Gilroy-Bold', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        color: #504ACD;
        margin-top: 12px;
        display: flex;
        align-items: center; }
        .media-block .media .media-item a svg {
          margin-left: 10px;
          transition: all 0.5s ease; }
        .media-block .media .media-item a:hover svg {
          transform: translateX(5px); }

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #504ACD;
  padding: 120px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  footer .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%;
    max-width: 1150px; }
  footer .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 610px; }
    footer .footer-form .caption-block {
      color: white; }
    footer .footer-form form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      margin: 50px 0; }
      footer .footer-form form input {
        border: none;
        border-bottom: 1px solid #9999D4;
        background-color: transparent;
        padding: 12px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: calc(100% - 144px);
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 25px;
        color: white; }
        footer .footer-form form input::-webkit-input-placeholder {
          color: #9999D4; }
        footer .footer-form form input::-moz-placeholder {
          color: #9999D4; }
        footer .footer-form form input:-ms-input-placeholder {
          color: #9999D4; }
        footer .footer-form form input::-ms-input-placeholder {
          color: #9999D4; }
        footer .footer-form form input::placeholder {
          color: #9999D4; }
      footer .footer-form form button {
        width: 134px;
        height: 40px;
        border: 1px solid #9999D4;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: transparent;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: 'Gilroy-Bold', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        color: #9999D4;
        margin-left: 10px;
        transition: all 0.5s ease; }
        footer .footer-form form button:hover {
          border: 1px solid white;
          color: white; }
  footer .nav-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
    footer .nav-block .nav-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      footer .nav-block .nav-item .nav-caption {
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.6;
        padding-bottom: 20px;
        border-bottom: 1px solid #5F58D4;
        margin-bottom: 20px; }
      footer .nav-block .nav-item a {
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-bottom: 20px; }
    footer .nav-block .soc-box {
      width: 170px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      footer .nav-block .soc-box a {
        width: 44px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 35px; }
  footer .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px; }
    footer .footer-bottom .footer-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      footer .footer-bottom .footer-link .company-name {
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #C9CFDA; }
      footer .footer-bottom .footer-link .link-box {
        margin-top: 6px; }
        footer .footer-bottom .footer-link .link-box a {
          font-family: 'Gilroy', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-transform: capitalize;
          color: #C9CFDA;
          padding: 4px 6px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border-right: 1px solid #C9CFDA; }
          footer .footer-bottom .footer-link .link-box a:nth-last-child(1) {
            border-right: none;
            padding-right: 0; }

.owl-item {
  padding-bottom: 40px; }

.owl-item > div {
  border-radius: 30px;
  cursor: pointer;
  margin: 1% 0;
  transition: all 0.5s ease;
  overflow: hidden;
  transform: scale(0.7);
  box-shadow: 0 22px 32px rgba(0, 0, 0, 0.12); }
  .owl-item > div .img-wrap img {
    min-width: 100%;
    object-fit: cover;
    height: 100%; }

.owl-item.center > div {
  cursor: auto;
  margin: 0;
  transform: scale(1); }

.otr-margin {
  margin-top: -150px; }

@media (max-width: 1200px) {
  .add-prizes {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .add-prizes .add-prizes-item {
      margin-bottom: 40px;
      min-width: 360px; } }
@media (max-width: 990px) {
  .step-block .steps {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .step-block .steps .steps-item {
      min-width: 360px;
      margin-bottom: 40px; }

  .prizes {
    height: 510px; }

  footer .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    footer .footer-bottom .footer-logo {
      margin-bottom: 45px; }
    footer .footer-bottom .footer-link {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; }

  .img-left img {
    width: 230px; } }
@media (max-width: 768px) {
  .button-play {
    width: 60px;
    height: 60px; }
    .button-play svg {
      width: 18px;
      height: 18px; }

  .step-block .steps {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 90%;
    max-width: 360px;
    min-width: auto; }
    .step-block .steps .steps-item {
      min-width: 100%;
      margin-bottom: 40px; }

  .main-page {
    margin-bottom: 120px; }
    .main-page .video-block {
      margin-bottom: 0; }

  .white-block {
    padding: 70px 0; }

  .benefits-block .benefits {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .benefits-block .benefits .benefits-item {
      margin-bottom: 60px; }

  .media-block .media {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

  footer {
    padding: 80px 0; }
    footer .footer-logo {
      margin-bottom: 35px; }
    footer .footer-bottom {
      margin-top: 40px; }
      footer .footer-bottom .footer-link .link-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        footer .footer-bottom .footer-link .link-box a {
          border-right: none; }

  .img-left {
    display: none; }

  .benefits-block {
    height: 900px; }
    .benefits-block .benefits {
      margin-bottom: 0; }

  .slick-slider .slick-slide {
    margin: 0 20px; }

  .media-block .media .media-item {
    margin-left: 0; } }
@media (max-width: 640px) {
  footer .nav-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 170px; }

  .benefits-block {
    padding: 50px 0;
    height: 960px;
    margin-bottom: 40px; }

  .owl-item > div {
    border-radius: 20px; }
    .owl-item > div .img-wrap {
      height: 440px; }
      .owl-item > div .img-wrap img {
        object-position: left top; }

  .media-block .owl-carousel {
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%); }
    .media-block .owl-carousel.mobile {
      display: block;
      margin-bottom: 40px; }
    .media-block .owl-carousel.desktop {
      display: none; } }
@media (max-width: 440px) {
  .button-play {
    width: 40px;
    height: 40px; }
    .button-play svg {
      margin-left: 2px;
      width: 12px;
      height: 12px; }

  .main-page {
    padding: 20px 0;
    height: 635px;
    margin-bottom: 70px; }

  .logo {
    font-size: 16px;
    margin-bottom: 35px;
    padding-bottom: 5px; }

  h2 {
    font-size: 16px; }

  h1 {
    font-size: 36px;
    margin-bottom: 30px; }

  .video-block {
    margin-top: 60px; }

  .table {
    width: 100%;
    border-radius: 0; }
    .table .caption {
      font-size: 36px;
      margin-bottom: 20px; }
    .table .table-stroke .name {
      width: 180px;
      max-width: 180px;
      display: block; }

  .top-padd {
    padding-top: 0; }

  .add-prizes .add-prizes-item {
    min-width: auto;
    width: 100%; }
    .add-prizes .add-prizes-item .img {
      width: 100%; }

  .prizes {
    height: 360px; }
    .prizes .prizes-item {
      width: 250px;
      height: 130px;
      font-size: 24px;
      border-radius: 20px; }
      .prizes .prizes-item .nominal {
        font-size: 28px;
        margin-top: 5px; }

  .caption-block {
    font-size: 36px; }

  .white-block {
    padding: 60px 0; }

  .next-prizes {
    margin-bottom: 80px; }

  footer .footer-content .footer-form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    footer .footer-content .footer-form form input {
      width: 100%;
      margin-bottom: 20px; }
    footer .footer-content .footer-form form button {
      width: 100%;
      max-width: 306px; }

  .add-prizes {
    margin: 60px auto;
    margin-bottom: 30px; } }

/*# sourceMappingURL=style.css.map */
